/* Body */
* {
  font-family: helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Header */

/* Navigatie */
/* Navigatie menubalk */
header nav {
  display: flex;
  list-style: none;
  padding-left: 5%;
  padding-right: 5%;
}

header nav a {
    padding-right: 3em;
    width: 1em;
}

header nav a img {
  margin-top: 2em;
  height: 2em;
  margin-right: auto;
  padding-left: 0;
  padding-top: 0;
}

header nav a:last-child {
  padding-right: 0;
}

header nav a:first-child {
  margin-right: auto;
}

/* Zoekbalk */
header div input {
  padding-left: 2em;
}

header input[type="text"] {
  width: 100%;
}

header div input:hover {
  border: solid 5px #8e1f81;
}

/* Categorien in filters */
header div ul {
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #8e1f81;
  list-style: none;
  font-size: .8em;
  padding-left: 0;
  margin-top: 1em;
}

/* Filter button uitklappen micro interactie */
header > div {
  display: none;
  padding: 0;
  margin: 0;
}

.block {
  display: block;
}

/* Buttons */
button {
  color: white;
  font-size: 1em;
  border: none;
  text-transform: uppercase;
}

button img{
  width: 2em;
}

/* Buttons in header */
header > button {
  background: #8e1f81;
  width: 80%;
  padding: .5em;
  border-radius: .2em;
  margin-top: 0;
  margin-left: 10%
}

header>button:hover {
  border: solid 5px #8e1f81;
}

header form button:hover {
  border: solid 5px #8e1f81;
}

header form button {
  color: white;
  text-transform: uppercase;
}

header form button img {
  width: 2.5em;
  height: 2em;
  }

/* Styling button filteren */
header div form button {
  background-color: #8e1f81;
  padding: 1em 2em;
  font-size: .8em;
  margin: 5% 5% 5% 70%;
}

/* Button meer verhalen bekijken  */
main section button {
  background-color: #8e1f81;
  width: 82.5%;
  height: 3em;
  margin-left: 5%;
  border-radius: 0.2em;
}

/* Download button in article homepage */
main section article button {
  border-style: none;
  background-color: #edce5a;
  width: 3em;
  margin: 0;
  font-size:0;
}

main section article button {
  position: absolute;
  right: 1.5em;
  bottom: 3em;
}

main section article button {
  outline:none;
}

main section article button div {
  position: relative;
}

button div .progress {
  display: none;
}

.start-download .download-svg {
  display: none;
}

.start-download .progress,
.start-download .checkmark {
  display: inline;
}

.progress {
	transform: rotate(-90deg);
}

.progress__value {
	stroke-dasharray: 339.292;
	stroke-dashoffset: 679;
	animation: progress 2s;
}

@keyframes progress {
	from {
		stroke-dashoffset: 339.292;
	}
	to {
		stroke-dashoffset: 0;
	}
}

button div .checkmark {
  position: absolute;
  top: 6px;
  left: 8px;
  display: none;
}

button div .checkmark polyline {
  transform:scale(0.3);
}

button div .checkmark polyline {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  animation: fill 2s forwards;
  animation-delay: 1.8s;
}

@keyframes fill{
  from {
    stroke-dashoffset: 130px;
  }
  to {
    stroke-dashoffset: 0px;
  }
}


/* Form */
header form {
  padding: 1em;
  margin: 0;
  font-size: 1.25em;
}

header label {
  width: 100%;
}

/* Zoekbalk */
header form div {
  display: flex;
}

/* Filters toepassen */
header div {
  background-color: #FAFAFA;
  width: 80%;
  margin: 5% 10%;
}

header div form {
  margin-left: 5%;
}

header div form label {
  font-size: .5em;
}

header div form H2 {
  text-transform: uppercase;
  font-weight: lighter;
  color: #8e1f81;
  font-size: .75em;
  margin-left: 0;
}

header div form input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 1em;
  background: #8e1f81;
  cursor: pointer;
}

header form img {
  width: 1em;
  height: 1em;
}

header div form p {
  font-size: .5em;
  color: #8e1f81;
}

/* Profiel aanmaken */
main form {
  margin-top: 5em;
  color: #8e1f81;
  font-size: .9em;
  margin-left: 10%;
  margin-bottom: 26em;
}

/* Main */
/* Headers */
main H1, H2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #8e1f81;
  font-size: 1.5em;
  margin: 7% 10% 2% 10%;
}

main H2 {
  font-weight: lighter;
}

main article H3 {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: .8em;
  margin-top: 1em;;
}

/* Verhalen homepage*/
main section article {
  display: grid;
  position: relative;
  grid-template-rows: 5fr 2fr .5fr;
  max-width: 77%;
  max-height: 28em;
  padding: 1em;
  padding-bottom: 0;
  background-color:  #edce5a;
  margin: 1em 5%;
  border-radius: 0.2em;
}

main section article:hover {
  border: solid 8px #8e1f81;
}

main section article > img {
  width: 100%;
  height: 20em;
  padding: 0;
  object-fit: cover;
  object-position: top;
}

article > footer {
  background-color: #edce5a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  object-fit: cover;
  width: 90%;
  white-space: nowrap;
}

main section article footer div {
  display: flex;
  align-items: center;
}

main section article  footer img {
  width: 1.5em;
  height: 1em;
}

main section article footer p {
  color: #8b8c8d;
  font-size: .6em;
  font-weight: bold;
}

 /* Formulier Profiel */
main > div > form {
  box-sizing:border-box;
  display:flex;
  flex-direction:column;
  transition: all .5s;
  padding:1em;
  background: #FAFAFA;
  margin-right: 10%;
}

main > div > form > fieldset {
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin-bottom: 1em;
  border:none;
  transition: all .2s;
  padding:1em;
}

main > div > form > fieldset:valid p {
  display:block;
  color: White;
  background:#8e1f81;
  padding:.25em;
}

main > div > form > fieldset:invalid {
  background: #F5E1F2;
}

main > div > form > fieldset:invalid p{
  display:none;
}

main > div > form > fieldset > legend {
  font-weight:bold;
}

main > div > form > fieldset > input {
  padding:.25em;
  font-size: 1.25em;
  margin-bottom: 1em;
  width:100%;
  transition:all 2s;
  z-index:2;
}

main > div > form > fieldset > input:valid {
  border-color:##8e1f81;
}

main > div > form > fieldset > input:invalid {
  border-color:#E5BADE;
  background: #E5BADE;
}

main > div > form > fieldset > input:focus {
  transform: scale(1.01, 1.01);
}

main > div > form > fieldset > input::placeholder {
  color:rgba(0,0,0,.25);
  font-style:italic;
}

main > div > form > a > button {
    color: white;
    background-color: #8e1f81;
    font-size: .8em;
    display: block;
    margin-top: 3em;
    margin-left: 40%;
    width: 50%;
    height: 3em;
    border-radius: .2em;
}

main > div > form > a > button:last-child {
    color: #8e1f81;
    background-color: white;
    text-decoration: underline;
    margin-top: 0;
}

main > div > form:valid button {
  opacity:1
}
main > div > form > button:focus {
  transform: scale(1.1, 1.1);
}

/* Footer */
footer {
  background-color: #F4EEE8;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer img {
  width: 1.5em;
  height: 1.5em;
  margin: 1em 10%;
 }

 /* Responsive website, media queries */

 /* Breakpoint 1 */
@media(min-width:50em){
    .verhalen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 70em;
    }

    main section {
      margin-left: 10%;
    }

    main article H3 {
      font-size: .8em;
    }

    main section article footer p {
      font-size: .5em;
    }


 /* Breakpoint 2 */
@media(min-width:70em){
    .verhalen {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 2% 10% 5%;
    }

    .verhalen article {
      max-height: 15em;
    }

    .verhalen article > img {
      height: 8em;
    }

    .verhalen button {
      height: 1em;
    }

    .verhalen article a button {
      bottom: 2.5em;
      right: .2em;
    }

    .verhalen button img {
      height: 1em;
      width: 1em;
    }

    .verhalen article div img {
      width: .5em;
      height: .5em;
    }

    .verhalen article div p {
      font-size: 0.5em;
    }
/* Verhaal van de week */
    main section {
      margin-left: 10%;
    }

/* Download Button Verhaal van de week */
    main section article a button {
      right: 4em;
      bottom: 2em;
      height: 3em;
    }

    /* Categorien in filters */
    header div ul {
      font-size: 1.5em;
    }

    /* Stijling uitklap button Filters */
    header div form label {
      font-size: .8em;
    }

    header div form H2 {
      font-size: 1em;
      margin-top: 2%;
    }

    header form img {
      width: 2em;
      height: 2em;
    }

    header div form p {
      font-size: 1em;
    }

    /* Button meer verhalen zoeken */
    main section a button {
      height: 5em;
      margin-top: 0;
    }

    /* Banner bij desktop */
    .banner {
      background-image: url("../IMG/Banner.jpg");
    }

    .block-widescreen {
      display: block;
    }

    main article H3 {
      font-size: .6em;
    }
  }
